h1, h3 {
    display: block;
  
    width: 100%;
    margin: auto;
    text-align: center;
    border: solid black 2px;
}
body {
    z-index: -1;
}
.tooltip {
    width: 200px;
    font-family: monospace;
    background: #eaeee9;
    border: 1px solid black;
    padding: 5px;
    line-height: 1.8;
    box-shadow: 1px 1px 5px 3px black;
    position: absolute; 
}

#legend {
    border: solid black 1px;
}
#world-temps {
    border: solid black 1px;
}
.cell:hover{
    stroke: black;
}